#body {
    display: grid;
    grid-template-areas: 'main lever';
    align-items: center;
}

#main {
    margin: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 'topline' 'reels' 'money' 'betting';
    border: 5px solid silver;
    background-color: green;
    text-transform: bold red;
    justify-content: space-around space-between space-evenly;
}

#topline {
    display: grid;
    grid-template-areas: 'banner reset';
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}

#banner {
    text-decoration-line: underline;
    color: silver;
    justify-content: right;
}

#reset {
    margin: 30px 0 0 0;
    height: 30px;
    width: 60px;
    font-weight: bold;
    color: darkred;
    background: black;
}

#reels {
    display: grid;
    grid-template-areas: 'reel1 reel2 reel3';
    justify-content: space-evenly;
}

#r1,
#r2,
#r3,
#lever {
    height: 200px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

#r1,
#r2,
#r3 {
    color: white;
    background-color: white;
    border: 5px solid silver;
}

#lever {
    border-radius: 5%;
    border: solid 5px gold;
    background-color: goldenrod;
}

#lever:hover {
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}

#lever:active {
    background-color: white;
}

#money {
    display: grid;
    grid-template-areas: 'credits c-amount wager w-amount';
    justify-content: space-evenly;
    border-radius: 2.5%;
    border: 5px solid silver;
    margin: 25px 25px 0px;
    background: black;
    font-weight: bold;
    color: silver;
    background-color: black;
}

#betting {
    padding: 20px;
    display: grid;
    grid-template-areas: 'betdown betup';
    justify-content: space-around;
}

@media screen only and (min-width: 600px, max-width: 1024px)