#body {
    font-family: verdana;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 'topline' 'reels-lever' 'money' 'betting';
    border: 5px solid silver;
    background-color: green;
    text-transform: bold red;
    justify-content: space-around space-between space-evenly;
}

#topline {
    display: grid;
    grid-template-areas: 'banner reset';
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}

#banner {
    align-content: right;
}

#reset {
    height: 30px;
    width: 60px;
    color: darkred;
    background: black;
}

#reels-lever {
    display: grid;
    grid-template-areas: 'reel1 reel2 reel3 lever';
    justify-content: space-evenly;
    align-content: center;
}

#lever {
    height: 180px;
    width: 130px;
    border-radius: 5%;
    padding: 5px;
    border: 5px solid silver;
}

#lever:hover {
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}


}
#lever:active {
    -webkit-box-shadow: 5px 5px 3px 3px rgba(255, 255, 255, 1.0);
    box-shadow: 5px 5px 3px 3px rgba(255, 255, 255, 1.0);
}
#money {
    display: grid;
    grid-template-areas: 'credits c-amount wager w-amount';
    justify-content: space-evenly;
    margin: 0px 100px;
    border-radius: 2.5%;
    border: 5px solid silver;
    padding: 0px 25px;
    background: black;
    color: silver;
    text: bold;
    color: green;
    background-color: black;
}
#betting {
    padding: 20px;
    display: grid;
    grid-template-areas: 'betdown betup';
    justify-content: space-around;
}
@media only screen and {
    max-width: 768px
}