* {
    display: grid;
}

#body {
    grid-template-areas: 'main lever';
    justify-content: center;
    align-content: center;
    background-color: darkgreen;
}

#main {
    margin: 10px 0;
    padding: 10px;
    font-family: 'Times New Roman';
    grid-gap: 5px;
    grid-template-areas: 'topline' 'reels' 'money' 'betting' 'payouts';
    border: 5px solid silver;
    background-color: green;
}

#topline {
    grid-template-areas: 'banner reset';
    padding: 10px;
}

#banner {
    text-decoration-line: underline;
    color: silver;
}

#reset {
    margin: 5px;
    height: 30px;
    width: 60px;
    font-weight: bold;
    color: darkred;
    background: black;
}

#reels {
    grid-template-areas: 'reel1 reel2 reel3';
}

#r1,
#r2,
#r3 {
    height: 210px;
    width: 160px;
    color: white;
    background-color: white;
    border: 5px solid silver;
}

#lever {
    margin: 100px 0px;
}

#lever:hover {
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
}

#lever:active {
    background-color: white;
}

#money {
    grid-template-areas: 'credits c-amount wager w-amount';
    justify-content: space-evenly;
    padding: 5px 0 0 0;
    border-radius: 2.5%;
    border: 5px solid silver;
    align-self: center;
    background: black;
    font-weight: bold;
    color: silver;
}

#betting {
    padding: 10px;
    grid-template-areas: 'betdown betup';
    justify-content: space-around;
}

#payouts {
    border: 5px solid silver;
    color: silver;
}